*,
::before,
::after {
  box-sizing: border-box;
}

/* For Testing Purpose */
/* * {
  outline: 1px solid red;
} */

html {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 1rem;
  line-height: 1.5;
  color: #fff;
  background-color: #352cf5;
  font-family: sans-serif;

  /* max-width: 1500px; */
}

:root {
  --bg-clr-navbar: #c9e9e6;
  --bg-clr-top-navbar: #faf7e6;
  --main-font-color: #2e6e66;
  --colorNavText: #00544f;
}
h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4rem;
  font-weight: 100;
  line-height: 1;
}
h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Gt flexa extended, sans-serif;
  font-size: 3rem;
  font-weight: 300;
  line-height: 1;
}
.heading-8,
.heading-9,
.heading-10,
.heading-11 {
  font-size: 1.25rem;
}
img {
  width: 100%;
  max-width: 100%;
  display: inline-block;
  transform: rotate(0);
}
.image {
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}
p {
  margin-bottom: 0;
  font-size: 1.625rem;
  font-weight: 300;
  line-height: 1.2;
}
#storerocket-widget button,
a {
  outline: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
/* Header Styling Starts */

/* For Desktop */
.navbar {
  border-bottom: 1px solid #fff;
  transition: transform 0.3s ease-in-out;
  transform: translateY(0); /* Initialize with visible state */
  /* position: sticky; */
  z-index: 50;
}
.navbar.hidden {
  transform: translateY(-100%);
}
.nav-desktop {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-desktop-menu {
  width: 100%;
  height: auto;
  max-width: 69.0625rem;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.nav-link {
  color: #fff;
  letter-spacing: 0;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  text-decoration: none;
  transition: opacity 0.2s, all 0.3s;
  display: block;
}
.nav-link {
  color: #fff;
  letter-spacing: -1px;
  font-weight: 300;
  line-height: 1.1;
}
.nav-link:hover {
  text-decoration: underline white 1px;
}
.mainNavbarLogo {
  height: 94px;
}
.circle {
  width: 0.7rem;
  height: 0.7rem;
  background-color: #fff;
  border-radius: 100%;
  display: block;
}
.w-nav-brand {
  float: left;
  color: #333;
  text-decoration: none;
  /* position: relative; */
}
.w-nav-brand img {
  width: 100%;
  max-width: 100%;
  display: inline-block;
  transform: rotate(0);
}

/* Mobile Nav */
@media screen and (max-width: 991px) {
}

.mobile-nav {
  display: none;
  z-index: 98;
  max-height: 98px;
  background-color: #352cf5;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.button {
  display: flex;

  min-width: 13rem;
  color: #352cf5;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  white-space: normal;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 8rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px 0 2px 3px;
  /* font-family: Montserrat, sans-serif; */
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  transition: all 0.3s;
  display: flex;
  cursor: pointer;
}
.hamburger-link {
  z-index: 99;
  width: 2.5rem;
  height: 2rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 3px;
  padding-bottom: 3px;
  display: flex;
  position: relative;
}
.hamburger-line {
  height: 2px;
}
.hamburger-line {
  width: 100%;
  height: 2px;
  max-width: none;
  background-color: #fff;
  padding-bottom: 0;
  padding-right: 0;
}
.x-image {
  display: block;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}
.x-hold {
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}
.line-2 {
  width: 25px;
  height: 2px;
  background-color: #352cf5;
  position: absolute;
  transform: rotate(45deg);
}
.line-1 {
  width: 25px;
  height: 2px;
  background-color: #352cf5;
  position: absolute;
  transform: rotate(-45deg);
}
.mobile-link-div {
  z-index: 2;
  width: 100%;
  height: 100vh;
  background-color: #a8e572;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 3rem;
  padding-right: 0;
  /* display: flex; */
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}
.nav-link-div_mobile .nav-link {
  color: #352cf5;
  text-transform: none;
  border-top: 1px solid #352cf5;
  border-bottom: 0 solid #352cf5;
  justify-content: center;
  padding-top: 1.375rem;
  padding-bottom: 1.375rem;
  font-size: 2.625rem;
  font-weight: 300;
  display: flex;
}
/* Home Styling */

.Home-page-padding {
  padding: 5rem 3.75rem;
}
.hero-componet {
  width: 100%;
  max-width: 90rem;
  display: grid;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 5.25fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.left-splash,
.right-splash {
  position: relative;
}
.hero-cta {
  width: 100%;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}
.hero-item {
  width: 100%;
  max-width: none;
  min-width: auto;
  margin-bottom: 2.5rem;
}
.hero-item-img {
  width: 100%;
  position: relative;

  padding-top: 60%;
  overflow: hidden;
}

.margin-bottom.margin-medium {
  margin-bottom: 2.5rem;
}

.tequila-soda {
  flex-direction: column;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}
.text-appear-div {
  text-align: center;
  overflow: hidden;
}
.splash-div.bottom {
  transform-origin: 50% 0;
  margin-top: 0.625rem;
  width: 55.0469px px;
}
.heading-5,
.heading-6 {
  font-size: 1.25rem;
  line-height: 1.1;
}

/* Splash Right */
.splash-div {
  height: auto;
  overflow: hidden;
}
.text-appear-div {
  text-align: center;
  overflow: hidden;
}
.splash-div {
  height: auto;
  overflow: hidden;
}
.splash-svg {
  max-width: 3.75rem;
}

.no-break-header {
  white-space: nowrap;
  font-size: 1.25rem;
  line-height: 1.1;
}
.hero-componet-mobile {
  display: none;
}

/* Home Section Mobile Size Styling */
.mobile-header {
  text-align: center;
  margin-bottom: 1.25rem;
}
.image-1-1--hero {
  border-bottom: 1px solid #fff;
  padding-bottom: 70%;
  position: relative;
}
.image._2 {
  display: block;
  z-index: 2;
}
.hero-cta-mobile {
  padding-top: 1rem;
  padding-bottom: 4rem;
  text-align: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}
.super-splash-upper {
  display: none;
  max-width: 5.813rem;
}
.hero-text-holder {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
.text-size-large {
  color: #fff;
  font-size: 1.625rem;
  font-weight: 300;
}
.splash-lower,
.splash-lower.is-visible {
  display: block;
}
.splash-lower {
  display: block;
  max-width: 4rem;
  margin-left: auto;
  margin-right: auto;
  display: none;
  transform: rotate(180deg);
}
.image-7 {
  transform: rotate(0);
}
/* Flavour Section Styling */
#flavor {
  display: none;
}
.section-flavor {
  border-bottom: 0 solid #fff;
}

/* Section Vibrant */
/* .section-vibrant {
  border-bottom: 1px solid #fff;
}
.vibrant-grid {
  max-width: 87.75rem;
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  grid-template-rows: auto;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
#w-node-_765784bb-cbb3-79af-450b-e941bedfab4d-6f2c62d2 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    align-self: center;
    justify-self: center;
}
.vibrant-content {
    width: 100%;
    height: 100%;
    min-width: 50%;
    border: 0 solid #000;
    border-right: 1px solid #fff;
    justify-content: center;
    align-items: center;
    padding-left: 3.275rem;
    padding-right: 3.275rem;
    display: flex;
}
.vibrant-sub-header {
    height: auto;
    text-align: center;
    margin-bottom: 1.875rem;
    overflow: hidden;
}
.image-change-header {
    height: 6rem;
    text-align: center;
    text-transform: uppercase;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.875rem;
    padding: 0;
    display: block;
    position: relative;
    overflow: hidden;
}
.vibrant-header .green{
  color: #a8e572;
} */
/* About Section Styling */

.section-celebrating {
  width: 100%;
  height: auto;
  object-fit: fill;
  border-bottom: 1px solid #fff;
  margin-bottom: 1.25rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  overflow: hidden;
}
.clebrate-content {
  width: 100%;
  height: 100%;
  /* flex-direction: column;
  align-items: center; */
  display: block;
}
.container-medium {
  width: 100%;
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
}
.celebrate-header {
  text-align: center;
  margin-bottom: 1.875rem;
}
.celebrate-text {
  text-align: center;
  margin-bottom: 0;
  font-size: 1.125rem;
  font-weight: 300;
}
/* About Slider CSS */
.celebrate-slider {
  /* display: none; */
  width: 100vw;
  height: 100%;
  max-height: none;
  background-color: rgba(0, 0, 0, 0);
  padding-top: 0;
  padding-bottom: 0;
}
.mask {
  width: 100%;
  height: auto;
  object-fit: fill;
  object-position: 50% 50%;
  padding-left: 0;
  position: static;
  overflow: visible;
}
.left-arrow {
  width: 25%;
  margin-left: 0;
  padding-left: 0;
  display: block;
  cursor: pointer;
}
.right-arrow {
  width: 25%;
  display: block;
  cursor: pointer;
}
.w-slider-arrow-right {
  z-index: 4;
  left: auto;
}
.aboutSlide {
  width: 100%;
  height: auto;
  min-width: auto;
  padding-left: 0;
  padding-right: 0;
  position: static;
  overflow: visible;
}
.celebrate-div {
  width: auto;
  height: auto;
  padding: 0 0;
  position: relative;
}
.clebrate-grid {
  display: grid;
  width: 100%;
  height: 100%;
  max-height: none;
  max-width: none;
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  padding-bottom: 0;
  position: static;
  overflow: visible;
}
.splash-holder {
  width: auto;
}
.splashy {
  width: auto;
  height: 100%;
  object-fit: contain;
}
.geometric-holder {
  max-width: 18.75rem;
}
.splashy-2 {
  width: auto;
  object-fit: contain;
  transform: rotate(180deg);
}

/* Custom Styling of Slick Dots of About Section Carousel */
.aboutCarousel .slick-dots {
  display: flex; /* Display dots horizontally */
  align-items: center;
  justify-content: center;
  list-style: none; /* Remove default list styles */
  padding: 0; /* Remove any default padding */
}

.aboutCarousel .slick-dots li {
  margin: 0; /* Remove any default margin */
}

.aboutCarousel .slick-dots li button {
  font-size: 0; /* Hide numbering */
  width: 10px; /* Set a width for the dot */
  height: 10px; /* Set a height for the dot */
  background-color: transparent; /* Set the background color of the dot */
  border: none; /* Remove any borders */
  border-radius: 100%; /* Make the dot round */
  margin: 0 5px; /* Add some spacing between dots */

  border: 1.5px solid white;
}

.aboutCarousel .slick-dots li.slick-active button {
  background-color: white; /* Change the color of the active dot */
}

/* Flavour Section Styling */
/* #faq {
  display: none;
} */
.section-faq {
  height: auto;
  border-bottom: 1px solid #fff;
  padding-bottom: 1.25rem;
}
.splahy-top_wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.25rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.splashy_wrapper {
  width: 3.125rem;
}
.faq-header {
  text-align: center;
  margin-bottom: 6.5rem;
}
.faq-container {
  max-width: 60.25rem;
  margin-left: auto;
  margin-right: auto;
}
.faq-question-wrap {
  z-index: 1;
  width: 100%;
  cursor: pointer;
  margin-bottom: 1.25rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.w-dropdown {
  text-align: left;
  z-index: 900;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  position: relative;
}
.faq-question-bar {
  width: 100%;
  color: #1a1e27;
  border: 0 solid #fff;
  border-bottom-width: 1px;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 0.325rem;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
  text-decoration: none;
  display: flex;
}
.text-size-large {
  color: #fff;
  font-size: 1.625rem;
  font-weight: 300;
}
.faq-circle {
  width: 2rem;
  height: 2rem;
  min-height: 2rem;
  min-width: 2rem;
  background-color: #f3f3f3;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.faq-content {
  height: 0px;
  background-color: rgba(0, 0, 0, 0);
  padding-top: 0.5rem;
  padding-bottom: 0.1rem;
  padding-left: 6.25rem;
  display: block;
  position: static;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
  min-width: 100%;
}
.faq-content .text-size-medium {
  line-height: 1;
}
.rotate-45 {
  transform: rotate(45deg);
  transition: transform 0.3s ease-in-out;
}
.expanded {
  height: 4rem;
  overflow: visible;
}

.text-size-medium {
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.2;
  display: block;
}

.splahy-bottom_wrapper {
  justify-content: space-between;
  margin-top: 4.375rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  display: flex;
  transform: rotate(180deg);
}
/* Images Section Styling */

.section-images {
  border-bottom: 0 solid #fff;
  border-radius: 0;
  padding: 5rem 1.25rem;
}
.section-images .image-grid {
  display: grid;
  max-width: 73.375rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-left: auto;
  margin-right: auto;
}
.section-images .w-layout-grid {
  display: grid;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  /* grid-template-columns: 1fr 1fr; */
  grid-auto-columns: 1fr;
}

.section-images .square-image {
  padding-top: 100%;
  position: relative;
}
.section-images .image-grid._2 {
  display: none;
}
/* Images Mobile Section Styling */
.section-images-mobile {
  border-bottom: 0 solid #fff;
  border-radius: 0;
  display: none;
}

/* Find Section Styling */
/* #find {
  display: none;
} */

/* Footer Section Styling */

.footer {
  padding-bottom: 5rem;
  overflow: hidden;
  border-left: 1px #fff;
}
.container-medium,
.container-small,
.container-large {
  margin-right: auto !important;
  margin-left: auto !important;
}
.footer .container-medium {
  width: 100%;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.footer-grid {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}
.footer .w-layout-grid {
  display: grid;
  grid-auto-columns: 1fr;
}
.footer-div {
  text-align: center;
  flex-direction: column;
  align-items: center;
  font-family: Gt flexa standard, sans-serif;
  text-decoration: none;
  display: flex;
  color: #fff;
  letter-spacing: -1px;

  font-weight: 300;
  line-height: 1.1;
}
.text-algin-center {
  text-align: center;
}
.f-center {
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.super-splash-mobile.is-top {
  margin-bottom: 1.4rem;
  transform: rotate(180deg);
}
.super-splash-mobile {
  max-width: 4rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  transform: rotate(180deg);
}
.image-8 {
  margin-bottom: 0;
  transform: rotate(180deg);
}
.super-splash-mobile.is-bottom {
  margin-top: 1.875rem;
  transform: rotate(180deg);
}
.super-splash-mobile {
  max-width: 4rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  transform: rotate(180deg);
}
.image-9 {
  margin-top: 0;
  margin-bottom: 0;
}
.text-size-medium {
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.2;
  display: block;
}
.text-size-medium a {
  color: #fff;
  letter-spacing: -1px;
  font-family: Gt flexa extended, sans-serif;
  font-weight: 300;
  line-height: 1.1;
}
.link-2,
.phone-number {
  letter-spacing: 0;
  font-family: Gt flexa standard, sans-serif;
  text-decoration: none;
}

/* Styling for carousel of footer div will go here */
.carousell-div {
  margin: 3.75rem auto 1.25rem;
  border-bottom: 1px solid white;
}
/* .square-image-footer {
  width: 100%;
  height: auto;
  padding-top: 70%;
}
.image-footer {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
} */
/* Styling of carousel div after footer */
.footer-rights-text {
  width: 100%;
  max-width: 48rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.text-size-medium.foot-hide {
  display: none;
}
.link-link {
  letter-spacing: 0;
  font-family: Gt flexa standard, sans-serif;
  text-decoration: none;
}
.div-block-9 {
  justify-content: center;
  display: flex;
}
.text-block-4 {
  font-size: 1.125rem;
}
.text-block-5.my-foot-txt {
  padding-right: 5px;
}
.text-block-6.my-foot-txt {
  padding-left: 0;
}

.text-block-6 {
  padding-left: 5px;
  font-size: 1.125rem;
}
.paragraph-3 {
  font-size: 1.125rem;
}
#original-foot a {
  color: #fff;
  letter-spacing: -1px;
  font-family: Gt flexa extended, sans-serif;
  font-weight: 300;
  line-height: 1.1;
}
/* Media Queries */
@media screen and (max-width: 991px) {
  .mobile-nav {
    display: flex;
  }
  .navbar {
    display: none;
  }
  .hero-componet {
    display: none;
  }
  .hero-componet-mobile {
    display: block;
  }
  .section-images {
    display: none;
  }
  .section-images-mobile {
    display: block;
  }
  .section-images-mobile {
    padding: 2rem 0;
    display: block;
  }
  .grid-image-carousell {
    width: 100vw;
    align-items: center;
    display: flex;
    transform: translate(-300px);
  }
  .image-grid._1 {
    width: auto;
    height: 20rem;
    margin-right: 1.5rem;
  }
  /* About */
  .section-celebrating {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
